<div class='bolt-rt-container'>
	<h2 class='bolt-rt-title'>In his record-breaking run, Bolt was beaten out of the blocks by five competitors</h2>
	<p class='bolt-rt-subhead'>Reaction times in the 100m finals at the 2009 World Championships in Athletics in Berlin</p>

	<div class='bolt-rt-countdown'>3</div>
	<div class='bolt-rt-slomo'>20x slower</div>

	<div class='bolt-rt-buttons'>
		<button class='bolt-rt-button bolt-rt-replay'>Replay</button>
		<button class='bolt-rt-button bolt-rt-realtime'>Real-time</button>
	</div>

	<svg class="bolt-rt"></svg>

	<p class='bolt-rt-tiny'>Reaction times below one tenth of a second are considered humanly impossible and thus count as false starts</p>

</div>